<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-lazy-init="true">

 <!--  Pension Calculation Field Office Start -->
   <bean name="reportPensionForm1CalcForms"
		class="com.nic.hrms.pension.reports.action.reportPensionForm1CalcFormsAction"
		scope="prototype">
		<property name="reportpensionForm1CalcService" ref="reportpensionForm1CalcService" />
	</bean>
   <bean name="LoadMstPenForm1Calc"
		class="com.nic.hrms.pension.action.PensionApplicationForm1CalcMstDataAction"
		scope="prototype">
		<property name="penappmform1calcservice" ref="penappmform1calcservice" />
		<property name="updateservice" ref="updateservice"></property>
	</bean>

	<bean id="PenApplicationForm1Search"
		class="com.nic.hrms.pension.action.PensionApplicationForm1SearchAction"
		scope="prototype">
		<property name="penappform1searchservice" ref="penappform1searchservice"></property>
	</bean>
	
	<bean name="LoadMstPenForm1ValCalc"
		class="com.nic.hrms.pension.action.PensionApplicationForm1CalcMstValDataAction"
		scope="prototype">
		<property name="penappmform1calcValservice" ref="penappmform1calcValservice" />
		<property name="updateservice" ref="updateservice"></property>
	</bean>
	
	<bean name="reportPensionForm1CalcValForms"
		class="com.nic.hrms.pension.reports.action.reportPensionForm1CalcFormsValAction"
		scope="prototype">
		<property name="reportpensionForm1CalcValService" ref="reportpensionForm1CalcValService" />
	</bean>
	
	
<!--  Pension Calculation Field Office End -->
<!-- Family Pension Order Authorisation report Start -->
	
	<bean name="reportFamilyPenOrderAuthorisation"
		class="com.nic.hrms.pension.reports.action.reportFamilyPenOrderAuthorisationAction"
		scope="prototype">
		<property name="reportFamilyPenOrderAuthoService" ref="reportFamilyPenOrderAuthoService" />
	</bean>
	
	
	<!-- Family Pension Order Authorisation report End -->

	<!--  Pension Order Authorisation report Start -->
	
	<bean id="FamilyPenOrderAuthorisationReportSearch"
		class="com.nic.hrms.pension.reports.action.FamilyPensionOrderAuthorisationReportSearchAction"
		scope="prototype">
		<property name="familyPenOrderAuthorisationreportservice" ref="familyPenOrderAuthorisationreportservice"></property>
	</bean>
	
	<!--  Pension Order Authorisation report End -->
<!-- PENSION APPLICATION FIELD OFFICE FORM2 CONFIGURATION -->

	<bean id="loadPenAppComboDetails"
		class="com.nic.hrms.pension.action.PensionApplicationAddForm2ComboAction"
		scope="prototype">
		<property name="officeIdservice" ref="officeIdservice"></property>
		<property name="stateservice" ref="stateservice"></property>
		<property name="paymentservice1" ref="paymentservice1"></property>
		<property name="religionService" ref="religionService" />
	</bean>

     <bean name="LoadMstPenApplication"
		class="com.nic.hrms.pension.action.PensionApplicationLoadMstDataAction"
		scope="prototype">
		<property name="penappmstservice" ref="penappmstservice" />
	</bean>
	
	<bean name="penAppFreezeCheck"
		class="com.nic.hrms.pension.action.PensionApplicationLoadMstDataAction"
		scope="prototype">
		<property name="penappmstservice" ref="penappmstservice" />
	</bean>
	
	<bean id="penAppAddForm2"
		class="com.nic.hrms.pension.action.PensionApplicationAddForm2Action"
		scope="prototype">
		<property name="penappform2service" ref="penappform2service" />
		<property name="penAppEditService" ref="penAppEditService" />
		<property name="officeIdservice" ref="officeIdservice" />
		<property name="updateservice" ref="updateservice" />
	</bean>
	<bean id="penAppEditForm2"
		class="com.nic.hrms.pension.action.PensionApplicationEditForm2Action"
		scope="prototype">
		<property name="penAppEditService" ref="penAppEditService" />
		<property name="officeIdservice" ref="officeIdservice" />
		<property name="stateservice" ref="stateservice" />
		<property name="paymentservice1" ref="paymentservice1" />
		<property name="religionService" ref="religionService" />
		<property name="updateservice" ref="updateservice" />
		<property name="penappform2service" ref="penappform2service" />
		<!--
			<property name="paymentservice" ref="paymentservice"></property>
		-->

	</bean>
		<bean id="penAppValForm2"
		class="com.nic.hrms.pension.action.PensionApplicationValidateForm2Action"
		scope="prototype">
		<property name="penappvalservice" ref="penappvalservice" />
		<property name="officeIdservice" ref="officeIdservice" />
		<property name="stateservice" ref="stateservice" />
		<property name="paymentservice1" ref="paymentservice1" />
		<property name="updateservice" ref="updateservice" />
		<property name="religionService" ref="religionService" />
	</bean>

	<!-- PENSION APPLICATION FIELD OFFICE FORM2 CONFIGURATION -->
	
	<!--  Pension Calculation Field Office Whole report Start -->

	<bean name="reportPenAppFieldOffice" class="com.nic.hrms.pension.reports.action.reportPenAppFieldOfficeAction"
		scope="prototype">
		<property name="reportPenAppFieldOfficeService" ref="reportPenAppFieldOfficeService" />
	</bean>

	<bean id="PenAppFieldOfficeReportSearch"
		class="com.nic.hrms.pension.reports.action.PensionApplicationFeildOfficeReportSearchAction"
		scope="prototype">
		<property name="penappfieldofficereportservice" ref="penappfieldofficereportservice"></property>
	</bean>

	<bean id="penAppFieldOfficeForm2Report"
		class="com.nic.hrms.pension.reports.action.PensionApplicationFieldOfficeForm2ReportAction">
		<property name="penAppFieldOfficeReportForm2Service" ref="penAppFieldOfficeReportForm2Service" />
		<property name="officeIdservice" ref="officeIdservice" />
	</bean>

	<!--  Pension Calculation Field Office Whole report End -->
	
	<!--  Pension Calculation Field Office Death report Start -->

	<bean name="reportPenAppFieldOfficeDeath"
		class="com.nic.hrms.pension.reports.action.reportPenAppFieldOfficeDeathAction"
		scope="prototype">
		<property name="reportPenAppFieldOfficeDeathService" ref="reportPenAppFieldOfficeDeathService" />
	</bean>
	
    <bean id="PenAppFieldOfficeDeathReportSearch"
		class="com.nic.hrms.pension.reports.action.PensionApplicationFeildOfficeDeathReportSearchAction"
		scope="prototype">
		<property name="penappfieldofficeDeathreportservice" ref="penappfieldofficeDeathreportservice"></property>
	</bean>

	<!--  Pension Calculation Field Office Death report End -->
	
	<!-- Pension Calculation Head Office Start -->

	<bean name="reportPensionHOForm1CalcForms"
		class="com.nic.hrms.pension.reports.action.reportPensionHOForm1CalcFormsAction"
		scope="prototype">
		<property name="reportpensionHOForm1CalcService" ref="reportpensionHOForm1CalcService" />
	</bean>

	<bean name="LoadMstPenHOForm1Calc"
		class="com.nic.hrms.pension.action.PensionApplicationHOForm1CalcMstDataAction"
		scope="prototype">
		<property name="penappmHeadOfficeform1calcservice" ref="penappmHeadOfficeform1calcservice" />
		<property name="updateservice" ref="updateservice"></property>
	</bean>

	<bean id="PenApplicationHeadOfficeForm1Search"
		class="com.nic.hrms.pension.action.PensionApplicationHeadOfficeForm1SearchAction"
		scope="prototype">
		<property name="penappHeadOfficeform1searchservice" ref="penappHeadOfficeform1searchservice"></property>
	</bean>

	<bean name="reportPensionHOForm1CalcValForms"
		class="com.nic.hrms.pension.reports.action.reportPensionHOForm1CalcFormsValAction"
		scope="prototype">
		<property name="reportpensionHOForm1CalcValService" ref="reportpensionHOForm1CalcValService" />
	</bean>

	<bean name="LoadMstPenHOForm1ValCalc"
		class="com.nic.hrms.pension.action.PensionApplicationHOForm1CalcMstValDataAction"
		scope="prototype">
		<property name="penappHeadOfficeform1calcValservice" ref="penappHeadOfficeform1calcValservice" />
		<property name="updateservice" ref="updateservice"></property>
	</bean>

	<!-- Pension Calculation Head Office End -->
	
	<!-- PENSION APPLICATION HEAD OFFICE FORM 2 CONFIGURATION -->



	<bean id="LoadPenAppFieldOfficeData"
		class="com.nic.hrms.pension.action.PensionApplicationLoadFieldOfficeData"
		scope="prototype">
		<property name="penappfielddataservice" ref="penappfielddataservice" />
		<property name="officeIdservice" ref="officeIdservice" />
		<property name="stateservice" ref="stateservice" />
		<property name="paymentservice1" ref="paymentservice1" />
		<property name="religionService" ref="religionService" />
	</bean>

	<bean id="PenAppHOEdit"
		class="com.nic.hrms.pension.action.PensionApplicationHOEditAction"
		scope="prototype">
		<property name="headEditService" ref="headEditService" />
		<property name="officeIdservice" ref="officeIdservice" />
		<property name="stateservice" ref="stateservice" />
		<property name="paymentservice1" ref="paymentservice1" />
		<property name="religionService" ref="religionService" />
		<property name="updateservice" ref="updateservice" />
	</bean>

	<bean id="penAppHOValidateForm2"
		class="com.nic.hrms.pension.action.PensionApplicationHOValidateAction">
		<property name="penapphovalservice" ref="penapphovalservice" />
		<property name="stateservice" ref="stateservice" />
		<property name="paymentservice1" ref="paymentservice1" />
		<property name="officeIdservice" ref="officeIdservice" />
		<property name="religionService" ref="religionService" />
		<property name="updateservice" ref="updateservice" />
		
	</bean>

	<!-- PENSION APPLICATION HEAD OFFICE FORM 2 CONFIGURATION -->
	
	<!-- PENSION AUTHORIZATION CONFIGURATION -->

	<bean id="pensionAuthorisation"
		class="com.nic.hrms.pension.action.PensionAuthorizationOriginalAction" 
		scope="prototype">
		<property name="penAuthOriService" ref="penAuthOriService" />
		<property name="officeIdservice" ref="officeIdservice" />
		<property name="updateservice" ref="updateservice" />
		<property name="paymentservice1" ref="paymentservice1" />
		<property name="penappHeadOfficeform1calcValservice" ref="penappHeadOfficeform1calcValservice" />
	</bean>
	
	<!--FAMILY  PENSION AUTHORIZATION CONFIGURATION -->
	<!-- REVISED DCRG PENSION ORDER REPORT CONFIG START -->

	<bean id="RevDCRGPenOrderAuthorisationReportSearch"
		class="com.nic.hrms.pension.reports.action.RevisedDCRGPensionOrderAuthorisationReportSearchAction"
		scope="prototype">
		<property name="revdcrgPenOrderAuthorisationreportservice"
			ref="revdcrgPenOrderAuthorisationreportservice"></property>
	</bean>

	<bean name="reportRevisedDCRGPenOrderAuthorisation"
		class="com.nic.hrms.pension.reports.action.reportRevisedDCRGPenOrderAuthorisationAction"
		scope="prototype">
		<property name="reportRevisedDCRGPenOrderAuthoService" ref="reportRevisedDCRGPenOrderAuthoService" />
	</bean>

	<!-- REVISED DCRG PENSION ORDER REPORT CONFIG END -->
	
	<!--  Pension Order Authorisation report Start -->

	<bean name="reportPenOrderAuthorisation"
		class="com.nic.hrms.pension.reports.action.reportPenOrderAuthorisationAction"
		scope="prototype">
		<property name="reportPenOrderAuthoService" ref="reportPenOrderAuthoService" />
	</bean>
	<bean name="reportPenOrderAuthorisationnew"
		class="com.nic.hrms.pension.reports.action.reportPenOrderAuthorisationActionNew"
		scope="prototype">
		<property name="reportPenOrderAuthoServiceNew" ref="reportPenOrderAuthoServiceNew" />
	</bean>
	
	
	

	
	<bean id="PenOrderAuthorisationReportSearch"
		class="com.nic.hrms.pension.reports.action.PensionOrderAuthorisationReportSearchAction"
		scope="prototype">
		<property name="penOrderAuthorisationreportservice" ref="penOrderAuthorisationreportservice"></property>
	</bean>

	<bean id="penAppHeadOfficeForm2Report"
		class="com.nic.hrms.pension.reports.action.PensionApplicationHeadOfficeForm2ReportAction">
		<property name="penAppHeadOfficeReportForm2Service" ref="penAppHeadOfficeReportForm2Service" />
		<property name="officeIdservice" ref="officeIdservice" />
	</bean>
	<!--  Pension Order Authorisation report End -->
	
	<!-- Family Pension Application Field Office Form 2 Config -->

	<bean id="famPenAppFieldForm2"
		class="com.nic.hrms.pension.action.FamilyPensionApplicationDeathFieldForm2Action"
		scope="prototype">
		<property name="famPenAppDeathForm2Service" ref="famPenAppDeathForm2Service" />
		<property name="stateservice" ref="stateservice" />
		<property name="paymentservice1" ref="paymentservice1" />
		<property name="religionService" ref="religionService" />
		<property name="updateservice" ref="updateservice" />
	</bean>


	<bean id="famPenAppFieldForm2Validate"
		class="com.nic.hrms.pension.action.FamilyPensionApplicationDeathFieldForm2ValidateAction"
		scope="prototype">
		<property name="fpenAppDeathService" ref="fpenAppDeathService" />
		<property name="stateservice" ref="stateservice" />
		<property name="paymentservice1" ref="paymentservice1" />
		<property name="religionService" ref="religionService" />
		<property name="updateservice" ref="updateservice" />
	</bean>

	<!-- Family Pension Application Field Office Form 2 Config -->
	
	<!-- Family Pension Application Head Office Form 2 Config -->

	<bean id="famPenAppHOForm2Edit"
		class="com.nic.hrms.pension.action.FamilyPensionApplicationDeathHOForm2EditAction"
		scope="prototype">
		<property name="fpenapphoservice" ref="fpenapphoservice" />
		<property name="stateservice" ref="stateservice" />
		<property name="paymentservice1" ref="paymentservice1" />
		<property name="religionService" ref="religionService" />
		<property name="updateservice" ref="updateservice" />

	</bean>


	<bean id="famPenAppHOForm2Validate"
		class="com.nic.hrms.pension.action.FamilyPensionApplicationDeathHOForm2ValidateAction"
		scope="prototype">
		<property name="fampenappvalser" ref="fampenappvalser" />
		<property name="stateservice" ref="stateservice" />
		<property name="paymentservice1" ref="paymentservice1" />
		<property name="religionService" ref="religionService" />
		<property name="updateservice" ref="updateservice" />
	</bean>

	<!-- Family Pension Application Head Office Form 2 Config -->
	
	<!--FAMILY  PENSION AUTHORIZATION CONFIGURATION -->
	
		<bean id="familyPensionAuthorisation"
		class="com.nic.hrms.pension.action.FamilyPensionAuthorizationOriginalAction"
		scope="prototype">
		<property name="familyPenAuthOriService" ref="familyPenAuthOriService" />
		<property name="officeIdservice" ref="officeIdservice" />
		<property name="updateservice" ref="updateservice" />
		<property name="paymentservice1" ref="paymentservice1" />
		<property name="penappHeadOfficeform1calcValservice" ref="penappHeadOfficeform1calcValservice" />
	</bean>
	
	<!--FAMILY  PENSION AUTHORIZATION CONFIGURATION -->
	
	<bean id="lastWorkingOffice" class="com.nic.hrms.pension.action.LastWorkingOfficeAction"
		scope="prototype">
		<property name="officeService" ref="officeService"></property>
	</bean>
		<bean id="searchOffice" class="com.nic.hrms.pension.action.LastWorkingOfficeSearch"
		scope="prototype">
		<property name="searchService" ref="searchService"></property>
	</bean>
	
	<!-- REVISED PENSION CALCULATION CONFIG START -->

	<bean id="revisedPenCalculationSearch"
		class="com.nic.hrms.pension.action.RevisedPensionCalculationSearchAction"
		scope="prototype">
		<property name="revpenCalculationsearchservice" ref="revpenCalculationsearchservice"></property>
	</bean>

	<bean name="LoadRevisedPensionCalc"
		class="com.nic.hrms.pension.action.RevisedPensionCalcMstDataAction"
		scope="prototype">
		<property name="revisedpensioncalculationservice" ref="revisedpensioncalculationservice" />
		<property name="updateservice" ref="updateservice"></property>
	</bean>



	<bean id="revisedPenCalculationValSearch"
		class="com.nic.hrms.pension.action.RevisedPensionCalculationSearchValAction"
		scope="prototype">
		<property name="revpenCalculationsearchvalservice" ref="revpenCalculationsearchvalservice"></property>
	</bean>

	<bean name="LoadRevisedPensionValCalc"
		class="com.nic.hrms.pension.action.RevisedPensionCalcMstDataValAction"
		scope="prototype">
		<property name="revisedpensioncalculationvalservice" ref="revisedpensioncalculationvalservice" />
		<property name="updateservice" ref="updateservice"></property>
	</bean>

	<!-- REVISED PENSION CALCULATION CONFIG END -->
	<!-- REVISED PENSION CALCULATION CHANGE CONFIGUATION START -->

	<bean name="reportRevisedPensionCalc"
		class="com.nic.hrms.pension.reports.action.reportRevisedPensionCalcAction"
		scope="prototype">
		<property name="reportRevisedPensionCalcService" ref="reportRevisedPensionCalcService" />
	</bean>

	<bean name="reportRevisedPensionValCalc"
		class="com.nic.hrms.pension.reports.action.reportRevisedPensionCalcValAction"
		scope="prototype">
		<property name="reportRevisedPensionCalcvalService" ref="reportRevisedPensionCalcvalService" />
	</bean>
	<!-- REVISED PENSION CALCULATION CHANGE CONFIGURATION END -->
	
	<!-- REVISED PENSION AUTHORISATION CONFIG START -->

	<bean id="revisedPensionAuthorisation"
		class="com.nic.hrms.pension.action.RevisedPensionAuthorizationAction"
		scope="prototype">
		<property name="revisedPenAuthService" ref="revisedPenAuthService" />
		<property name="officeIdservice" ref="officeIdservice" />
		<property name="updateservice" ref="updateservice" />
		<property name="paymentservice1" ref="paymentservice1" />
		<property name="penappHeadOfficeform1calcValservice" ref="penappHeadOfficeform1calcValservice" />
	</bean>

	<!-- REVISED PENSION AUTHORISATION CONFIG END -->
	
	<!-- Gopinath Revised Pension Order Report Start -->

	<bean name="reportRevisedpaypension"
		class="com.nic.hrms.pension.reports.action.ReportRevisedPensionOrderAction"
		scope="prototype">
		<property name="reportRevisedpaypensionService" ref="reportRevisedpaypensionService" />
	</bean>

	<!-- Gopinath Revised Pension Order Report End -->
	
	<!-- Gopinath Revised Pension Note And Report Start -->

	<bean name="revisePensionNoteOrder"	 
		class="com.nic.hrms.pension.action.RevisedPensionAuthorizationAction"
		scope="prototype">
		<property name="revisedPenAuthService" ref="revisedPenAuthService" />
		<property name="updateservice" ref="updateservice"></property>
		<property name="officeIdservice" ref="officeIdservice"></property>
	</bean>
	
	<!-- Gopinath Revised Pension Note And Report End -->
	
	<!-- REVISED DCRG PENSION AMOUNT DUE TO DA CHANGE START -->

	<bean id="LoadRevDCRGPenHeadOfficeData" class="com.nic.hrms.pension.action.RevisedDCRGPenLoadHeadOfficeData"
		scope="prototype">
		<property name="revDcrgPenHeadDataService" ref="revDcrgPenHeadDataService" />
		<property name="penAuthOriService" ref="penAuthOriService" />
		<property name="revisedPenAuthService" ref="revisedPenAuthService" />
		<property name="officeIdservice" ref="officeIdservice" />
		<property name="updateservice" ref="updateservice" />
	</bean>


	<!-- REVISED DCRG PENSION AMOUNT DUE TO DA CHANGE END -->
	
	<!-- Revision due to increase DA -->

	<bean name="reportRevisedDCRGnote"
		class="com.nic.hrms.pension.reports.action.reportRevisedDCRGnoteAction"
		scope="prototype">
		<property name="reportRevisedDCRGnoteService" ref="reportRevisedDCRGnoteService" />
	</bean>

	<!-- Revision due to increase DA -->
	
	<!-- REVISED PENSION ORDER REPORT DUE TO PAY CHANGE CONFIG START -->

	<bean id="RevPenOrderReportSearch"
		class="com.nic.hrms.pension.reports.action.RevisedPensionOrderReportSearchAction"
		scope="prototype">
		<property name="revPenOrderreportservice" ref="revPenOrderreportservice"></property>
	</bean>

	<!-- REVISED PENSION ORDER REPORT DUE TO PAY CHANGE CONFIG END -->
        <!-- change pen/fam name start -->
	
	<bean id="penfamchangename" class="com.nic.hrms.pension.action.ChangePenFamNameAction"
		scope="prototype">
		<property name="penfamService" ref="penfamService" />
		<!--<property name="updateservice" ref="updateservice"></property>-->
	</bean>
	
	<!-- change pen/fam name end -->
	<bean id="unfreezaction" class="com.nic.hrms.pension.action.UnfreezPensionCalculationAction" scope="prototype">
	<property name="unfreezeservice" ref="unfreezeservice"></property>
	</bean>

	<!-- change desination start -->
	
	<bean id="changedesignationAction" class="com.nic.hrms.pension.action.ChangeDesignationAction"
		scope="prototype">
		<property name="designationservicechange" ref="designationservicechange" />
		<property name="destsrvice" ref="destsrvice" />
		<!--<property name="updateservice" ref="updateservice"></property>-->
	</bean>
	
	<!-- change designation end -->
	<!--
		REVISED FAMILY PENSION ORDER REPORT DUE TO PAY CHANGE CONFIG START
	-->

	<bean id="RevFamPenOrderReportSearch"
		class="com.nic.hrms.pension.reports.action.RevisedFamilyPensionOrderReportSearchAction"
		scope="prototype">
		<property name="revFamPenOrderreportservice" ref="revFamPenOrderreportservice"></property>
	</bean>

	<!--
		REVISED FAMILY PENSION ORDER REPORT DUE TO PAY CHANGE CONFIG END
		
	-->
	<!-- Start Revised Family pension Due to Pay change -->

	<bean name="reportRevisedFamilyPensionduetopaychange"
		class="com.nic.hrms.pension.reports.action.reportRevisedFamPensionduetopaychangeAction"
		scope="prototype">
		<property name="reportRevisedfamPensionduetopaychangeService"
			ref="reportRevisedfamPensionduetopaychangeService" />
	</bean>

	<!-- End Revised Family pension Due to Pay change -->
	
	
</beans>
