<?xml version="1.0" encoding="UTF-8"?>
<web-app id="person" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"> 
  <display-name>Tamil Nadu Water Supply and Drainage Board</display-name>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>ApplicationResources</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
        	/WEB-INF/applicationContext*.xml
        </param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <filter>
    <filter-name>struts-cleanup</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
  </filter>
  <filter>
    <filter-name>struts</filter-name>
    <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts-cleanup</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>struts</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <session-config>
    <session-timeout>100</session-timeout>
   </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <location>/index.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <filter>
    <filter-name>AccessController</filter-name>
    <filter-class>Servlets.Security.servlets.AccessController</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AccessController</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>Servlets.Security.classes.TWADSessionListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>MenuGenerator</servlet-name>
    <servlet-class>Servlets.Security.servlets.MenuGenerator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuGenerator</servlet-name>
    <url-pattern>/MenuGenerator.con</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserValidation</servlet-name>
    <servlet-class>Servlets.Security.servlets.UserValidation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GPFCheckUploaded</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.servlets.GPFCheckUploaded</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GPFCheckUploaded</servlet-name>
    <url-pattern>/GPFCheckUploaded</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>Servlets.Security.servlets.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserValidation</servlet-name>
    <url-pattern>/UserValidation.ser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin.con</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BeneficiaryList</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.HabitationSurvey.reports.BeneficiaryList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeneficiaryList</servlet-name>
    <url-pattern>/BeneficiaryList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BeneficiaryType</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.HabitationSurvey.servlets.BeneficiaryType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeneficiaryType</servlet-name>
    <url-pattern>/BeneficiaryType</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pms_dcb_mst_int</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.HabitationSurvey.servlets.pms_dcb_mst_int</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pms_dcb_mst_int</servlet-name>
    <url-pattern>/pms_dcb_mst_int</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sample</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.HabitationSurvey.reports.sample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sample</servlet-name>
    <url-pattern>/sample</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>report</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.HabitationSurvey.servlets.report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>report</servlet-name>
    <url-pattern>/report</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Ben_Report</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.HabitationSurvey.servlets.Ben_Report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ben_Report</servlet-name>
    <url-pattern>/Ben_Report</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ob_report</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.HabitationSurvey.servlets.ob_report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ob_report</servlet-name>
    <url-pattern>/ob_report</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>Beneficiary_DCB_ob</display-name>
    <servlet-name>Beneficiary_DCB_ob</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.HabitationSurvey.servlets.Beneficiary_DCB_ob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Beneficiary_DCB_ob</servlet-name>
    <url-pattern>/Beneficiary_DCB_ob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>Dcb_other_charge</display-name>
    <servlet-name>Dcb_other_charge</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.HabitationSurvey.servlets.Dcb_other_charge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dcb_other_charge</servlet-name>
    <url-pattern>/Dcb_other_charge</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>Pumping_Return_List</display-name>
    <servlet-name>Pumping_Return_List</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.HabitationSurvey.servlets.Pumping_Return_List</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pumping_Return_List</servlet-name>
    <url-pattern>/Pumping_Return_List</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Pms_Dcb_Beneficiary_metre</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.HabitationSurvey.servlets.Pms_Dcb_Beneficiary_metre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pms_Dcb_Beneficiary_metre</servlet-name>
    <url-pattern>/Pms_Dcb_Beneficiary_metre</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Pms_Dcb_Beneficiary_Metre_Report</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.HabitationSurvey.servlets.Pms_Dcb_Beneficiary_Metre_Report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pms_Dcb_Beneficiary_Metre_Report</servlet-name>
    <url-pattern>/Pms_Dcb_Beneficiary_Metre_Report</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>Bill_Demand</display-name>
    <servlet-name>Bill_Demand</servlet-name>
    <servlet-class>
		Servlets.PMS.PMS1.HabitationSurvey.servlets.Bill_Demand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bill_Demand</servlet-name>
    <url-pattern>/Bill_Demand</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Pms_Dcb_Mst_Main_Agmt</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.HabitationSurvey.servlets.Pms_Dcb_Mst_Main_Agmt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pms_Dcb_Mst_Main_Agmt</servlet-name>
    <url-pattern>/Pms_Dcb_Mst_Main_Agmt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dcb_mst_group</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.HabitationSurvey.servlets.dcb_mst_group</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dcb_mst_group</servlet-name>
    <url-pattern>/dcb_mst_group</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Private_Beneficiary</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.HabitationSurvey.servlets.Private_Beneficiary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Private_Beneficiary</servlet-name>
    <url-pattern>/Private_Beneficiary</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Pms_Dcb_Mst_Tariff</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.HabitationSurvey.servlets.Pms_Dcb_Mst_Tariff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pms_Dcb_Mst_Tariff</servlet-name>
    <url-pattern>/pms_dcb_mst_tariff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Consumer</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.HabitationSurvey.servlets.Consumer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Consumer</servlet-name>
    <url-pattern>/Consumer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Consumer_Search</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.HabitationSurvey.servlets.Consumer_Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Consumer_Search</servlet-name>
    <url-pattern>/Consumer_Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GPF_Final_Doc_Types</display-name>
    <servlet-name>GPF_Final_Doc_Types</servlet-name>
    <servlet-class>
    	Servlets.HR.HR1.EmployeeMaster.servlets.GPF_Final_Doc_Types</servlet-class>
  </servlet>
  <servlet>
    <display-name>GPF_Impound_Types</display-name>
    <servlet-name>GPF_Impound_Types</servlet-name>
    <servlet-class>
    	Servlets.HR.HR1.EmployeeMaster.servlets.GPF_Impound_Types</servlet-class>
  </servlet>
  <servlet>
    <description>
    	</description>
    <display-name>Grant_Closed_Office</display-name>
    <servlet-name>Grant_Closed_Office</servlet-name>
    <servlet-class>
    	Servlets.HR.HR1.EmployeeMaster.servlets.Grant_Closed_Office</servlet-class>
  </servlet>
  <servlet>
    <description>
    	</description>
    <display-name>Revoke_Closed_Office</display-name>
    <servlet-name>Revoke_Closed_Office</servlet-name>
    <servlet-class>
    	Servlets.HR.HR1.EmployeeMaster.servlets.Revoke_Closed_Office</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Grant_Closed_Office</servlet-name>
    <url-pattern>/Grant_Closed_Office</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Revoke_Closed_Office</servlet-name>
    <url-pattern>/Revoke_Closed_Office</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GPF_Slab_Subscription</servlet-name>
    <servlet-class>
    	Servlets.HR.HR1.EmployeeMaster.servlets.GPF_Slab_Subscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GPF_Slab_Subscription</servlet-name>
    <url-pattern>/GPF_Slab_Subscription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GPF_Final_Doc_Types</servlet-name>
    <url-pattern>/GPF_Final_Doc_Types</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccountUnitServlet</servlet-name>
    <servlet-class>
    	Servlets.HR.HR1.EmployeeMaster.servlets.AccountUnitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountUnitServlet</servlet-name>
    <url-pattern>/AccountUnitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
  	</description>
    <display-name>GPF_Transaction_Validation</display-name>
    <servlet-name>GPF_Transaction_Validation</servlet-name>
    <servlet-class>
  	Servlets.HR.HR1.EmployeeMaster.servlets.GPF_Transaction_Validation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GPF_Transaction_Validation</servlet-name>
    <url-pattern>/GPF_Transaction_Validation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GPF_Impound_Types</servlet-name>
    <url-pattern>/GPF_Impound_Types</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GPF_Loan_Reason</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.servlets.GPF_Loan_Reason</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GPF_Loan_Reason</servlet-name>
    <url-pattern>/GPF_Loan_Reason</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GPF_Withdrawal_Status</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.servlets.GPF_Withdrawal_Status</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GPF_Withdrawal_Status</servlet-name>
    <url-pattern>/GPF_Withdrawal_Status</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
    	</description>
    <display-name>GPF_Subscription_Arrear</display-name>
    <servlet-name>GPF_Subscription_Arrear</servlet-name>
    <servlet-class>
    	Servlets.HR.HR1.EmployeeMaster.servlets.GPF_Subscription_Arrear</servlet-class>
  </servlet>
  <servlet>
    <description>
    	</description>
    <display-name>GPF_Int_Rate</display-name>
    <servlet-name>GPF_Int_Rate</servlet-name>
    <servlet-class>
    	Servlets.HR.HR1.EmployeeMaster.servlets.GPF_Int_Rate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GPF_Subscription_Change</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.servlets.GPF_Subscription_Change</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GPF_Subscription_Change</servlet-name>
    <url-pattern>/GPF_Subscription_Change.view</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GPF_Subscription_Arrear</servlet-name>
    <url-pattern>/GPF_Subscription_Arrear</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GPF_Int_Rate</servlet-name>
    <url-pattern>/GPF_Int_Rate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GPF_Impound_New</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.servlets.GpfImpoundNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GPF_Impound_New</servlet-name>
    <url-pattern>/GPF_Impound_New</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GPF_Slip_Details</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.Reports.GPF_Slip_Details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GPF_Slip_Details</servlet-name>
    <url-pattern>/Gpf_Slip_Details.av</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GPF_Impound</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.servlets.GPF_Impound</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GPF_Employee_Id</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.servlets.GPF_Employee_Id</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GPF_Impound</servlet-name>
    <url-pattern>/GPF_Impound.view</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GPF_Employee_Id</servlet-name>
    <url-pattern>/GPF_Employee_Id.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpGpfPopupServ</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.Reports.EmpGpfPopupServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpGpfPopupServ</servlet-name>
    <url-pattern>/EmpGpfPopupServ.av</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GPF_Transaction_Status</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.Reports.GPF_Transaction_Status</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GPF_Transaction_Status</servlet-name>
    <url-pattern>/GPF_Transaction_Status</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GPF_Subscription</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.servlets.GPF_Subscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GPF_Subscription</servlet-name>
    <url-pattern>/GPF_Subscription.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GPF_Withdrawal_New</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.servlets.GPF_Withdrawal_New</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GPF_Withdrawal_New</servlet-name>
    <url-pattern>/GPF_Withdrawal_New</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GPF_IMPOUND_SERVLET</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.servlets.GPF_IMPOUND_SERVLET</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GPF_IMPOUND_SERVLET</servlet-name>
    <url-pattern>/GPF_IMPOUND_SERVLET</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GPF_Validate_Both</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.servlets.GPF_Validate_Both</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GPF_Validate_Both</servlet-name>
    <url-pattern>/GPF_Validate_Both</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GPF_FAS_Journal_Adjustment</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.servlets.GPF_FAS_Journal_Adjustment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GPF_FAS_Journal_Adjustment</servlet-name>
    <url-pattern>/GPF_FAS_Journal_Adjustment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GPF_JRNL_TRN_PUSH</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.servlets.GPF_JRNL_TRN_PUSH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GPF_JRNL_TRN_PUSH</servlet-name>
    <url-pattern>/GPF_JRNL_TRN_PUSH</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GPF_ERROR_LIST</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.servlets.GPF_ERROR_LIST</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GPF_ERROR_LIST</servlet-name>
    <url-pattern>/GPF_ERROR_LIST</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GPF_Withdrawl_Type</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.servlets.GPF_Withdrawl_Type</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GPF_Withdrawl_Type</servlet-name>
    <url-pattern>/GPF_Withdrawl_Type.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewBalanceReport</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.Reports.ViewBalanceReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBalanceReport</servlet-name>
    <url-pattern>/ViewBalanceReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileUploadForGPFReport</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.Reports.FileUploadForGPFReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadForGPFReport</servlet-name>
    <url-pattern>/FileUploadForGPFReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PendingOpeningBalance</display-name>
    <servlet-name>PendingOpeningBalance</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.Reports.PendingOpeningBalance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingOpeningBalance</servlet-name>
    <url-pattern>/PendingOpeningBalance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GPF_Withdrawal_Details</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.servlets.GPF_Withdrawal_Details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GPF_Withdrawal_Details</servlet-name>
    <url-pattern>/GPF_Withdrawal_Details.av</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pmsSchAdminSanction</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.pmsSchAdminSanction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pmsSchAdminSanction</servlet-name>
    <url-pattern>/pmsSchAdminSanction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pmsScheTechSanction</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.pmsScheTechSanction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pmsScheTechSanction</servlet-name>
    <url-pattern>/pmsScheTechSanction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pmsSchAccMapping</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.pmsSchAccMapping</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pmsSchAccMapping</servlet-name>
    <url-pattern>/pmsSchAccMapping</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pmsAccHeadsearch</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.pmsAccHeadsearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pmsAccHeadsearch</servlet-name>
    <url-pattern>/pmsAccHeadsearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>schemeNumberSearch</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.schemeNumberSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>schemeNumberSearch</servlet-name>
    <url-pattern>/schemeNumberSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SchemeActivityServlet</display-name>
    <servlet-name>SchemeActivityServlet</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.SchemeActivityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SchemeActivityServlet</servlet-name>
    <url-pattern>/SchemeActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FinanceTransactionServlet</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.FinanceTransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinanceTransactionServlet</servlet-name>
    <url-pattern>/FinanceTransactionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StatusServlet</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.StatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusServlet</servlet-name>
    <url-pattern>/StatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FundTieupLevelServlet</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.FundTieupLevelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FundTieupLevelServlet</servlet-name>
    <url-pattern>/FundTieupLevelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SchemeBeneficiaryServlet</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.SchemeBeneficiaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SchemeBeneficiaryServlet</servlet-name>
    <url-pattern>/SchemeBeneficiaryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BeneficiaryProportionateCostServlet</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.BeneficiaryProportionateCostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeneficiaryProportionateCostServlet</servlet-name>
    <url-pattern>/BeneficiaryProportionateCostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pms_component</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.pms_component</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pms_component</servlet-name>
    <url-pattern>/pms_component</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pms_lkp_category</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.pms_lkp_category</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pms_lkp_category</servlet-name>
    <url-pattern>/pms_lkp_category</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pms_lkp_item</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.pms_lkp_item</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pms_lkp_item</servlet-name>
    <url-pattern>/pms_lkp_item</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pms_sch_fund_agency</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.pms_sch_fund_agency</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pms_sch_fund_agency</servlet-name>
    <url-pattern>/pms_sch_fund_agency</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pms_sch_plan</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.pms_sch_plan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pms_sch_plan</servlet-name>
    <url-pattern>/pms_sch_plan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pms_sch_type</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.pms_sch_type</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pms_sch_type</servlet-name>
    <url-pattern>/pms_sch_type</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pms_sch_activity</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.pms_sch_activity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pms_sch_activity</servlet-name>
    <url-pattern>/pms_sch_activity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pms_sch_fund_type</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.pms_sch_fund_type</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pms_sch_fund_type</servlet-name>
    <url-pattern>/pms_sch_fund_type</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sch_sanction</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.sch_sanction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sch_sanction</servlet-name>
    <url-pattern>/sch_sanction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sch_subcomp</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.sch_subcomp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sch_subcomp</servlet-name>
    <url-pattern>/sch_subcomp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sch_uom</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.sch_uom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sch_uom</servlet-name>
    <url-pattern>/sch_uom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sch_Mst_Fund_Tieup_serv</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.Sch_Mst_Fund_Tieup_serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sch_Mst_Fund_Tieup_serv</servlet-name>
    <url-pattern>/Sch_Mst_Fund_Tieup_serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sch_Mst_Fund_Recpt_serv</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.Sch_Mst_Fund_Recpt_serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sch_Mst_Fund_Recpt_serv</servlet-name>
    <url-pattern>/Sch_Mst_Fund_Recpt_serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>search</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tieup_search</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.tieup_search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tieup_search</servlet-name>
    <url-pattern>/tieup_search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sch_master</display-name>
    <servlet-name>sch_master</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.sch_master</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sch_master</servlet-name>
    <url-pattern>/sch_master</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>schmemaster_comp</display-name>
    <servlet-name>schmemaster_comp</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.schmemaster_comp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>schmemaster_comp</servlet-name>
    <url-pattern>/schmemaster_comp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>schmemaster_subcomp</display-name>
    <servlet-name>schmemaster_subcomp</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.schmemaster_subcomp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>schmemaster_subcomp</servlet-name>
    <url-pattern>/schmemaster_subcomp</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>sch_areatype</display-name>
    <servlet-name>sch_areatype</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.sch_areatype</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sch_areatype</servlet-name>
    <url-pattern>/sch_areatype</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndividualRoles</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.Reports.IndividualRoles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndividualRoles</servlet-name>
    <url-pattern>/IndividualRoles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
  	</description>
    <display-name>Individual_User</display-name>
    <servlet-name>Individual_User</servlet-name>
    <servlet-class>
  	Servlets.HR.HR1.EmployeeMaster.Reports.Individual_User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Individual_User</servlet-name>
    <url-pattern>/Individual_User</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>New_Role_Assigning</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.Reports.New_Role_Assigning</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>New_Role_Assigning</servlet-name>
    <url-pattern>/New_Role_Assigning.av</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>pms_area</display-name>
    <servlet-name>pms_area</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.pms_area</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pms_area</servlet-name>
    <url-pattern>/pms_area</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FundProgramServlet</display-name>
    <servlet-name>FundProgramServlet</servlet-name>
    <servlet-class>Servlets.PMS.PMS2.Schemes.servlets.FundProgramServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FundProgramServlet</servlet-name>
    <url-pattern>/FundProgramServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GPF_Data_Validated_Status</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.Reports.GPF_Data_Validated_Status</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GPF_Data_Validated_Status</servlet-name>
    <url-pattern>/GPF_Data_Validated_Status</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListofotherUsersServ</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.Reports.ListofotherUsersServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListofotherUsersServ</servlet-name>
    <url-pattern>/ListofotherUsersServ.con</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListofUsersServ</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.Reports.ListofUsersServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListofUsersServ</servlet-name>
    <url-pattern>/ListofUsersServ.rep</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OtherUserProfileServ</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.servlets.OtherUserProfileServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtherUserProfileServ</servlet-name>
    <url-pattern>/OtherUserProfileServ.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResetPasswordServ</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.servlets.ResetPasswordServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordServ</servlet-name>
    <url-pattern>/ResetPasswordServ.ser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Activate_User</servlet-name>
    <servlet-class>Servlets.SysAdmin.servlets.Activate_User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Activate_User</servlet-name>
    <url-pattern>/Activate_User.con</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateNewUser</servlet-name>
    <servlet-class>Servlets.SysAdmin.servlets.CreateNewUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateNewUser</servlet-name>
    <url-pattern>/CreateNewUser.con</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserCategoryServ</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.servlets.UserCategoryServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCategoryServ</servlet-name>
    <url-pattern>/UserCategoryServ.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListofRolesMenus</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.Reports.ListofRolesMenus</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListofRoles</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.Reports.ListofRoles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListofRoles</servlet-name>
    <url-pattern>/ListofRoles.con</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletRoles</servlet-name>
    <servlet-class>Servlets.SysAdmin.servlets.ServletRoles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRoles</servlet-name>
    <url-pattern>/ServletRoles.con</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
  	</description>
    <display-name>Bulk_Userid_Create</display-name>
    <servlet-name>Bulk_Userid_Create</servlet-name>
    <servlet-class>
  	Servlets.SysAdmin.servlets.Bulk_Userid_Create</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bulk_Userid_Create</servlet-name>
    <url-pattern>/Bulk_Userid_Create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletRolesMenu</servlet-name>
    <servlet-class>Servlets.SysAdmin.servlets.ServletRolesMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRolesMenu</servlet-name>
    <url-pattern>/ServletRolesMenu.con</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletRolesMenu1</servlet-name>
    <servlet-class>Servlets.SysAdmin.servlets.ServletRolesMenu1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRolesMenu1</servlet-name>
    <url-pattern>/ServletRolesMenu1.con</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletUpdatingRoles_FAS</servlet-name>
    <servlet-class>Servlets.SysAdmin.servlets.ServletUpdatingRoles_FAS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUpdatingRoles_FAS</servlet-name>
    <url-pattern>/ServletUpdatingRoles_FAS.con</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UnRoleEmployeeReportServ</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.Reports.UnRoleEmployeeReportServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnRoleEmployeeReportServ</servlet-name>
    <url-pattern>/UnRoleEmployeeReportServ.rep</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletUpdatingRoles</servlet-name>
    <servlet-class>Servlets.SysAdmin.servlets.ServletUpdatingRoles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUpdatingRoles</servlet-name>
    <url-pattern>/ServletUpdatingRoles.con</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginReportServ_New</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.Reports.LoginReportServ_New</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginReportServ_New</servlet-name>
    <url-pattern>/LoginReportServ_New.rep</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginReportServ</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.Reports.LoginReportServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginReportServ</servlet-name>
    <url-pattern>/LoginReportServ.rep</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CensVil_Servlet</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.RWS.servlets.CensVil_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CensVil_Servlet</servlet-name>
    <url-pattern>/CensVil_Servlet.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CensCombo_Servlet</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.RWS.servlets.CensCombo_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CensCombo_Servlet</servlet-name>
    <url-pattern>/CensCombo_Servlet.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Habit_Servlet</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.RWS.servlets.Habit_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Habit_Servlet</servlet-name>
    <url-pattern>/Habit_Servlet.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HabitCombo_Servlet</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.RWS.servlets.HabitCombo_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HabitCombo_Servlet</servlet-name>
    <url-pattern>/HabitCombo_Servlet.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>State_Servlet</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.RWS.servlets.State_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>State_Servlet</servlet-name>
    <url-pattern>/State_Servlet.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>District_Servlet</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.RWS.servlets.District_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>District_Servlet</servlet-name>
    <url-pattern>/District_Servlet.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Block_Servlet</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.RWS.servlets.Block_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Block_Servlet</servlet-name>
    <url-pattern>/Block_Servlet.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BlockCombo_Servlet</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.RWS.servlets.BlockCombo_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlockCombo_Servlet</servlet-name>
    <url-pattern>/BlockCombo_Servlet.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PanchayatCombo_Servlet</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.RWS.servlets.PanchayatCombo_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PanchayatCombo_Servlet</servlet-name>
    <url-pattern>/PanchayatCombo_Servlet.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Panchayat_Servlet</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.RWS.servlets.Panchayat_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Panchayat_Servlet</servlet-name>
    <url-pattern>/Panchayat_Servlet.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TalukCombo_Servlet</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.RWS.servlets.TalukCombo_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TalukCombo_Servlet</servlet-name>
    <url-pattern>/TalukCombo_Servlet.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Taluks_Servlet</servlet-name>
    <servlet-class>Servlets.PMS.PMS1.RWS.servlets.Taluks_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Taluks_Servlet</servlet-name>
    <url-pattern>/Taluks_Servlet.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubServlet</servlet-name>
    <servlet-class>Servlets.HR.HR1.Masters.servlets.SubServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubServlet</servlet-name>
    <url-pattern>/SubServlet.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MinorServlet</servlet-name>
    <servlet-class>Servlets.HR.HR1.Masters.servlets.MinorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MinorServlet</servlet-name>
    <url-pattern>/MinorServlet.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MajorServlet1</servlet-name>
    <servlet-class>Servlets.HR.HR1.Masters.servlets.MajorServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MajorServlet1</servlet-name>
    <url-pattern>/MajorServlet1.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>Servlets.HR.HR1.Masters.servlets.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/MenuServlet.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MenuServlet1</servlet-name>
    <servlet-class>Servlets.HR.HR1.Masters.servlets.MenuServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet1</servlet-name>
    <url-pattern>/MenuServlet1.view</url-pattern>
  </servlet-mapping>
  <servlet>
 
    <display-name>GPF_Interest_Calculation</display-name>
    <servlet-name>GPF_Interest_Calculation</servlet-name>
    <servlet-class>Servlets.HR.HR1.EmployeeMaster.servlets.GPF_Interest_Calculation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GPF_Interest_Calculation</servlet-name>
    <url-pattern>/GPF_Interest_Calculation</url-pattern>
  </servlet-mapping>
  <!-- STARTING ECS_CREDIT PROCESS -->
	<servlet>
	<description>
	</description>
	<display-name>WriteTextintoFile</display-name>
	<servlet-name>WriteTextintoFile</servlet-name>
	<servlet-class>ecsTextFileDownload.WriteTextintoFile</servlet-class>
	</servlet>
    <servlet-mapping>
	<servlet-name>WriteTextintoFile</servlet-name>
	<url-pattern>/WriteTextintoFile</url-pattern>
	</servlet-mapping>
<!-- ENDING ECS_CREDIT PROCESS -->
  <!-- STARTING SUPPLEMENTRY ENTRY PROCESS -->
<servlet>
  	<description>
  	</description>
  	<display-name>supTextintoFile</display-name>
  	<servlet-name>supTextintoFile</servlet-name>
  	<servlet-class>ecsTextFileDownload.supTextintoFile</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>supTextintoFile</servlet-name>
  	<url-pattern>/supTextintoFile</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>ChangePasswordServ</servlet-name>
    <servlet-class>Servlets.Security.servlets.ChangePasswordServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServ</servlet-name>
    <url-pattern>/ChangePasswordServ.view</url-pattern>
  </servlet-mapping>
  
  
  <!-- ENDING SUPPLEMENTRY ENTRY PROCESS -->
</web-app>